<app-navbar></app-navbar>
<h2 [ngStyle]="{'background-color':'#3f51b5'}">Record New Test Centre Officer</h2>


<mat-card>
  <mat-form-field>
  <textarea
    matInput
    rows="3"
    name="UserName"
    ngModel
    required
    placeholder="Enter UserName"
    #content="ngModel"></textarea>
    <mat-error *ngIf="content.invalid">UserName</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input name="password" matInput [type]="hide ? 'password' : 'text'" ngModel required #password="ngModel">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="password.invalid">Please enter password</mat-error>
  </mat-form-field>

<mat-form-field>
  <textarea
  matInput
  rows="3"
  name="Name"
  ngModel
  required
  placeholder="Enter Name"
  #content="ngModel"></textarea>
  <mat-error *ngIf="content.invalid">Please Enter Name</mat-error>
</mat-form-field>

<button
  mat-raised-button
  color = "accent"
  type="submit">Submit</button>
</mat-card>
