<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a mat-button color="primary" routerLink="/create">Create</a>
  </li>
  <li ngbNavItem>
    <a mat-button color="primary" routerLink="/list">List</a>
  </li>
  <li ngbNavItem>
    <a mat-button color="primary" routerLink="/register">Register Test Centre</a>
  </li>
  <li ngbNavItem>
    <a mat-button color="primary" routerLink="/record">Record Tester</a>
  </li>
  <li ngbNavItem>
    <a mat-button color="primary" routerLink="/manage">Manage Test Kit Stock</a>
  </li>

</ul>

